@import "tailwindcss";

@theme {
  --color-sidebar: #0D2233;
  --color-primary: #2E7D8C;
  --color-secondary: #4FA8A8;
  --color-soft: #7BBFB5;
  --color-beige: #F0EAD6;
}

body {
  background-color: #0D2233;
  color: #F0EAD6;
}